<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>983056031407-1e5l0sg86mvb815b5of8sjiokrfugg1f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.983056031407-1e5l0sg86mvb815b5of8sjiokrfugg1f</string>
	<key>API_KEY</key>
	<string>AIzaSyBpBIt-FxnP3JHEBdnawVYxMaQCs_kHmsA</string>
	<key>GCM_SENDER_ID</key>
	<string>983056031407</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.emexam.plus</string>
	<key>PROJECT_ID</key>
	<string>em-exam-8be2a</string>
	<key>STORAGE_BUCKET</key>
	<string>em-exam-8be2a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:983056031407:ios:0747880441f4abb7983e5a</string>
</dict>
</plist>